body {
    font-family:'Segoe UI', Tahoma, sans-serif;
    font-size: 17px;
    text-align: left;
    font-weight: 100;  
    box-sizing: border-box; 
}

h2 {
    font-weight: 450;
    color: rgb(196, 0, 39); 
    font-size: 22px;
    margin-bottom: -15px;
    margin-left: 30px;
}

.subtitles {
    margin-top: 40px;
    margin-left: 30px;
}

#bar1 {
    margin-left: 79px;
    width: 600px;
    height: 18px;
    padding: 5px;
    border: 1px solid lightgray;
}

#bar2 {
    margin-left: 20px;
    width: 600px;
    height: 18px;
    padding: 5px;
    border: 1px solid lightgray;
}

#bar3 {
    margin-left: 58px;
    width: 600px;
    height: 18px;
    padding: 5px;
    border: 1px solid lightgray;
}

#bar4 {
    margin-left: 48px;
    width: 600px;
    height: 18px;
    padding: 5px;
    border: 1px solid lightgray;
}

#bar5 {
    margin-left: 103px;
    margin-right: 10px;
    width: 262px;
    height: 18px;
    padding: 5px;
    border: 1px solid lightgray;    
}

#bar5_0 {
    margin-left: 10px;
    width: 262px;
    height: 18px;
    padding: 5px;
    border: 1px solid lightgray;
}

.parameters {
    margin-left: 30px;
    font-size: 15px;
}

#underline {
    color: rgb(236, 236, 236);
    margin-left: -6px;
}

.button {
    color: white;
    background-color: #1964D7;
    width: 150px;
    margin-left: 668px;
    margin-top: 15px;
    border: 1px solid #0041A4;
    border-radius: 2px; 
    padding: 7px;
    font-size: 12px;
    font-weight: 600;
}

.button:hover {
    background-color:#0041A4;
    border: 1px solid darkblue;
}